<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />

	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="auth">
		<form action="/auth_user" method="post">
			<div>
				<label for="nom">Login :</label>
				<input type="text" id="login" name="login" />
			</div>
			<div>
				<label for="courriel">Password:</label>
				<input type="password" id="password" name="password" />
			</div>
			<INPUT TYPE="submit" NAME="nom" VALUE=" Envoyer ">
			</form>
		</div>
	</body>
	</html>